$white: #FCFCF9;
$white-lighten-1: #FFFFF1;
$white-lighten-2: #FFFFEE;
$white-darken-1: #F2F2F2;
$white-darken-2: #E9E9E0;

$black: #030300;
$black-lighten-1: #676764;
$black-lighten-2: #CBCAC7;
$black-darken-1: #2B2B2B;
$black-darken-2: #171717;

$red: #FF5050;
$red-lighten-1: #ff8484;
$red-lighten-2: #ffb9b9;
$red-darken-1: #993030;
$red-darken-2: #662020;

$blue: #5498ff;
$blue-lighten-1: #87b7ff;
$blue-lighten-2: #bbd6ff;
$blue-darken-1: #325b99;
$blue-darken-2: #223d66;

$yellow: #ffbd5a;
$yellow-lighten-1: #ffd18b;
$yellow-lighten-2: #ffe5bd;
$yellow-darken-1: #997136;
$yellow-darken-2: #664c24;

$green: #5ccb96;
$green-lighten-1: #8ddab5;
$green-lighten-2: #beead5;
$green-darken-1: #377a5a;
$green-darken-2: #25513c;